*{
    background: #23222F;
    direction: rtl;
    font-family: 'Montserrat', sans-serif;
}
header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-left: auto;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all .3s ease;
    font-size: 30px;
    padding-top: 10px;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    padding-top:20px;
    color: wheat;
}
li a:hover{
    color: #0088a9;
}
button{
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    transition: all .3s ease 0s;
    border: 1px solid rgba(0, 136, 169, 1);
    width: 100px;
    height:40px;
    font-size: 17px;
}
button:hover{
    background-color: rgba(0, 136, 169, .8);
}